
.daw-picture {
  background-position:bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .controls {
    background-color: rgba(151, 149, 149, 0.831);
    width: 80%;
    height: 20%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    
    .volume-play-stop{
      @extend %flex-center;
      margin: 5px auto;
      padding: 5px;
      border: 1px solid black;
      width: 50%;
    }
    .effects{
      width: 100%;
      display: flex;
    }
    .harmonizer,.delay {
      width: 100%;
    }
  }
  
}
.slider {
  height: 5px;
  width: 30%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.thumb {
  border-radius: 10px;
  height: 15px;
  width: 15px;
  background-color: black;
}

.daw-play-button{
@include daw-button-hover( '../assets/playdawbw.png','../assets/playdawcl.png' ) ;

}
.stop-button{
@include daw-button-hover( '../assets/stopbw.png','../assets/stopcl.png' ) ;

}