
.form-page{
  @extend %flex-center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  h1 {
    display: block;
  }
  .container {
    border: 1px solid black ;
    padding: 20px;
    form {
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      padding: 20px;
      label{
        font-size: 20px;
        padding: 10px 0 5px 0 ;
        display: block;
      }
      input{
        margin-bottom: 10px;
        display: block;
      }
    }
  }

} 