
.library{
  display: flex;
  flex-direction: column;
  @extend %flex-center;
  h1 {
    margin: 50px;
    padding: 50px;
  }

  

    .tags {
      margin: 10px 10px 10px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 85%;
      button {
        // background-color: rgba(48, 197, 180, 0.568);
        @extend %form-button;
      }
    }

    
    .tile-display{

    .library-buttons{
      max-height: 25% ;
    }
    .filters{
      width: 100%;
      display: flex;
      margin: 40px 0 0 6%;
    }
    margin: 50px;
    background-color: $bg ;
    
    .add-button {
      @include hover-effect-tile( '../assets/addbw-nobg.png', '../assets/add-nobg.png')
    }

    .tick{
      background-image: url('../../assets/tick.png');
      background-size: contain;
      background-size: 65%;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      height: 10%;
      width: 20%;
      transition: 0.1s ease-in-out;
    }
    .atmo-tile {
      margin: 40px 0 ;
      p {
        margin: 0;
        font-size: 12px;
      }
      .info-block{
        display: flex;
        p{
          width: 50%;
        }
        .added-to {
          text-align: right;
        }
      }
    }
  }
  
}

