
.library{
  background-color: rgba(194, 247, 251, 0.29);
  display: flex;
  flex-direction: column;
  @extend %flex-center;
  h1 {
    margin: 50px;
    padding: 50px;
    font-family: 'Major Mono Display', monospace;
    font-size: 80px;
  }
    .tags {
      margin: 10px 10px 10px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 85%;
      font-family: 'Major Mono Display', monospace;
      font-size: 15px;
      button {
        @extend %form-button;
      }
    }

    
    .tile-display{
      margin: 50px;
      background-color: rgba(185, 221, 224, 0.63);
      .tile-display{

        .atmo-tile{
          height: 26vh;
          margin: 20px 10px;
        }
      }

    .library-buttons{
      background-color: rgba(166, 164, 164, 0.544);
      margin-top: 5px;
      height: 25%;
      min-width: 10px;
      margin: 0;
      padding: 4px;
    }
    .filters{
      width: 100%;
      display: flex;
      margin: 40px 0 0 6%;
    }
    
    .add-button {
      @include hover-effect-tile( '../assets/addbw-nobg.png', '../assets/add-nobg.png');
      height: 20px;
      width: 40px;
      margin: 0px 4px;
    }

    .tick{
      background-image: url('../../assets/tick.png');
      background-size: contain;
      background-size: 65%;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      height: 20px;
      width: 40px;
      transition: 0.1s ease-in-out;
      margin: 0px 6px;
    }
    .atmo-tile {
      margin: 40px 0 ;
      p {
        margin: 0;
        font-size: 11px;
        // font-family: 'Source Code Pro', monospace;
        margin: 1px;
      }
      .info-block{
        display: flex;
        p{
          width: 50%;
        }
        .added-to {
          text-align: right;
        }
      }
    }
  }
  .tile-box {

    .no-atmos{
      margin: 100px;
      background-color: rgba(245, 245, 220, 0.539);
      padding: 5px;
    }
  }
  
}

