
.library{
  display: flex;
  flex-direction: column;
  h1 {
    margin: 0 auto;
    padding: 50px;
  }
  
  .search-options{
    display: flex;
    align-items: center;
    margin: 0 auto;
    
    max-height: 30px;
    
    .tags{
      button{
        padding: 5px;
        margin: 10px;
      }
    }
  }
  
  .tile-display{
    background-color: $bg ;
    .add-button {
      @include hover-effect-tile( '../assets/add.png', '../assets/add.png')
    }
    .atmo-tile {
      margin-bottom: 40px;
      p {
        margin: 0;
        font-size: 10px;
      }
      .info-block{
        display: flex;
        p{
          width: 50%;
        }
        .added-to {
          text-align: right;
        }
      }
    }
  }
  
}