@mixin hover-effect-navbar($bg, $hover-bg) {
  background-image: url($bg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 40px;
  min-height: 40px;
  z-index: 1;
  &:hover{
    background-image: url($hover-bg);
    transition: 0.3s ease-in-out;
  }
}

@mixin hover-effect-tile($bg, $hover-bg) {
  background-image: url($bg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 15%;
  &:hover{
    background-image: url($hover-bg);
    transition: 0.1s ease-in-out;
  }
}